@font-face {
  font-family: 'iconfont';  /* project id 212934 */
  src: url('//at.alicdn.com/t/font_vsakxbd61oxenrk9.eot');
  src: url('//at.alicdn.com/t/font_vsakxbd61oxenrk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_vsakxbd61oxenrk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_vsakxbd61oxenrk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_vsakxbd61oxenrk9.svg#iconfont') format('svg');
}

.pure-icon--di {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.di-github:before { content: "\e69f"; }

.di-close:before { content: "\e603"; }

.di-category:before { content: "\e601"; }

.di-star:before { content: "\e62f"; }

.di-paint:before { content: "\e66e"; }

.di-home:before { content: "\e629"; }

.di-category1:before { content: "\e613"; }

.di-down:before { content: "\e68d"; }

.di-error:before { content: "\e6a0"; }

.di-warn:before { content: "\e641"; }

.di-down2:before { content: "\e60b"; }

.di-success:before { content: "\e625"; }

.di-info:before { content: "\e80c"; }

.di-loading:before { content: "\e602"; }

.di-file:before { content: "\e611"; }

.di-upload:before { content: "\e636"; }
