@import './common/var.less';
@import './common/color.less';

@upload-prefix-cls: ~"@{pure-prefix}-upload";

/* 到时删除 */
body {
	font-family: Lato,-apple-system,Segoe UI,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
ul,li {
	list-style-type: none;
	padding: 0;
}
.@{upload-prefix-cls}__container {
	width: 360px;
}
.@{upload-prefix-cls}__tip {
	font-size: 12px;
    color: #8391a5;
    margin-top: 7px;
}
.@{upload-prefix-cls} {
	position: relative;
	&-dragger, &-dragger__hover {
		position: relative;
		box-sizing: border-box;
		height: 180px;
	    border: 1px dashed #d9d9d9;
	    border-radius: 6px;
	    text-align: center;
	    cursor: pointer;
	    background-color: #fff;
	    overflow: hidden;
	    i {
	    	margin: 20px auto 16px;
	    	font-size: 67px;
			color: #666;
	    }
	    span {
	    	color: #20a0ff;
	    }
	    &:hover {
	    	border: 1px dashed #20a0ff;
	    }
	}
	&-dragger__hover {
		border: 1px dashed #20a0ff;
		background-color: rgba(152, 218, 252, .3);
	}
	&-list-none {
		display: none;
	}
	&-list__item {
		zoom: 1; 
		position: relative;
		width: 100%;
		margin: 7px 0;
		padding-left: 5px;
		cursor: pointer;
		&-name {
			float: left;
			display: block;
			margin-right: 40px;
			font-size: 14px;
			color: #666;
			overflow: hidden;
			text-overflow: ellipsis;
    		white-space: nowrap;
		}
		&-name:hover {
		    color: #20a0ff;
		    cursor: pointer;
		}
		&-icon {
			position: absolute;
			top: 0;
			right: 10px;
			color: #666;
		}
		&-progress {
			padding-left: 5px;
			.pure-progress-bar__outer{
				height: 3px;
			}
		}
		.di-success {
			display: inline-block;
		}
		.di-close {
			cursor: pointer;
			display: none;
		}
	}
	&-list__item:after {
		content: "";
		display: block;
		clear: both;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
	&-list__item:hover {
		background-color: rgba(232,237,250,.6);
		box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
		.di-success {
			display: none;
		}
		.di-close {
			display: inline-block;
		}
	}
	&-input {
		display: none;
	}
}
